<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="#f8f9fb" style=" margin: 0 !important;
    padding: 0 !important;">


<div style="width: 45%;height: 606px;background:white;position:absolute;top:20%;left: 23%;">


<form action="/create_vacancy_action/" method="POST" style="position: relative;margin-left: 34%;margin-top: 20%;">
	Vacancy title:<br>
	<input type="text" name="vname"></input><br/>
	Department:<br>
	<input type="text" name="dname"></input><br/>
    Description of vacancy:<br>
	<input type="text" name="vdesc"></input><br/>
	 <input type="submit" value="Create New Vacancy">
</form>


</div>
<!-- {% for user in users %}
 <div>{{ user }}</div>
 {% endfor %} -->

</body>
</html>