<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="#f8f9fb" style=" margin: 0 !important;
    padding: 0 !important;">


<div style="width: 45%;height: 606px;background:white;position:absolute;top:20%;left: 23%;">


<form action="/create_department_action/" method="POST" style="position: relative;margin-left: 34%;margin-top: 20%;">
	Name of Department:<br>
	<input type="text" name="dname"></input><br/>
	Description of Department:<br>
	<input type="text" name="ddesc"></input><br/>
	<!-- <input type="text"></input><br/> -->
	 <input type="submit" value="Create New Department">
</form>


</div>
<!-- {% for user in users %}
 <div>{{ user }}</div>
 {% endfor %} -->

</body>
</html>