<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="#f8f9fb" style=" margin: 0 !important;font-family: 'Courier New', Courier, monospace;
    padding: 0 !important;">


<div style="width: 100%;height: 76px;position:relative;background:white;margin-top:0px;">

<a href="/look_at_vacancies" style="position: relative;margin-top:30px;margin-left: 40px;display: inline-block;">Vacancies</a>
<a href="/show_workers" style="position: relative;margin-top:30px;margin-left: 40px;display: inline-block;">Workers</a>
<a href="" style="position: relative;margin-top:10px;margin-left: 33%;display: inline-block;font-size: 20px;text-decoration: none;color:blue;"><b>EVO</b></a>

<a href="/create_department" style="position: relative;float: right;top:30px;right: 40px;"><i>Create Department</i></a></div>



{% for de in departments %}


<div style="position: relative;display: inline-block;width: 300px;height: 440px;padding:18px 7px 7px 18px;margin-top:50px;margin-left:120px;
background:white;z-index: 3;-webkit-box-shadow: 16px 10px 31px -17px rgba(199,220,255,1);
-moz-box-shadow: 16px 10px 31px -17px rgba(199,220,255,1);
box-shadow: 16px 10px 31px -17px rgba(199,220,255,1);">
<!--   <a href="/edit_department">Edit department</a> <br/><br/> -->
      <b style="color:blue;"> Department title:</b> <br/> Department {{ de.name }} <br/>
    <b style="color:blue;"> Description :</b> <br/> {{ de.description }} <br/>
     <b style="color:blue;"> Workers:</b> <br/> {{ de.wor }} <br/>
     <a href="/show_can">Add workers from candidates</a><br/>
       <b style="color:blue;">Vacancies:</b> <br/> {{ de.vac.name}} <br/>
        <a href="/create_vacancy/">Add vacancies</a><br/>

      

</div>
  {% endfor %}


</body>
</html>